
*{
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}
body{
    background: #012f5a; /* For browsers that do not support gradients */
    background: radial-gradient(white, #3f87ae, #012f5a);
    font-family: Garamond, serif;
    color: white;
}
h1 {
    font-family: Garamond, serif;
    font-size: 41px;
    font-weight: 100;
}
p {
    font-family: georgia, serif;
}
a {
    font-family: Garamond, serif;
}
blockquote {
    font-size: 20px;
}

/* layout */
.main-container {
    width: 80%;
    top:0;
    left:0;
    right: 0;
    margin: auto;
    background: white;
    margin-bottom: 60px;
    box-shadow: 0 10px 15px 0 rgba(2, 4, 6, 0.8);
}

/*header*/
header {
    background: linear-gradient(to top right, #111213 , #292a2b);
    padding: 30px;
    height: 80px;
}
.search {
    display: inline-block;
    float:right;
    background: white;
    border-radius: 25px;
    padding: 3px;
    padding-left:6px;
}
input {
    height: 15px;
    border: transparent;
}
form{
    position: relative;
}
#hide-me {
    position: absolute;
    opacity: 0;
}
textarea:focus, input:focus{
    outline: none;
}
.fa {
    color: grey;
}
.fa-icon{
   font-family: Arial, "FontAwesome";
}
input:focus::-webkit-input-placeholder{
    color:transparent;
}
nav {
    float: right;
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
.logo{
    display: inline-block;
    float:left;
    padding-top:13px;
}
.logo-grey{
    color: #676566;
}
h3{
   letter-spacing: 3px;
    font-weight: 100;

}
.space {
   letter-spacing: 8px;
}

/* slider*/

.slider{
    background-color: #111213;
    display: block;
    position: relative;
    max-width: 100%;
}
.slider img{
    width: 100%;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.controls{
    position: absolute;
    left: 20px;
    bottom: 50px;
}
.controls * {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #2c83b0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px 0 rgba(2, 4, 6, 1);
    margin: 10px;
}
.active, .dot:hover {
  background-color: #717171;
}

/*back-bar*/
.back-bar{
    padding: 20px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #111213;
}
blockquote{
    font-size: 35px;
    width: 65%;
    color: grey;
}
/*aside*/
aside{
    width: 30%;
    background: #e7e7e7;
    background: linear-gradient(to top right, white, #e7e7e7);
    float: right;
}
aside h2, aside p{
    padding: 20px;
    color: #303030;
    font-weight: 100;
}
aside p{

}
aside a{
    color: #2c83b0;
    padding-left: 20px;
}
table{
    color: #303030;
    padding-left: 20px;
}
/*posts*/
.posts{
    background:white;
    color: #303030;
    width: 66%;
    padding:20px;
    padding-top: 0;
}
.post1, .post2, .post3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.posts *{
    display: inline-block;
}
.posts h2{
    font-weight: 100;
    padding-left: 20px;
}
.posts img {
    border: 5px solid #e9e9e9;
    float: left;
}
.posts p{
    width: 70%;
    padding-top: 20px;
    padding-left: 20px;
}
.posts .p-mini{
    font-size: 12px;
    color:#2c83b0;
    padding-left: 20px;
    padding-top: 0;
}

.blue-btn{
    border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 5px 20px 5px 20px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold;
    color: #e2e1e1;
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
     background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
     background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
     background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
    margin-left: 20px;
    margin-top: 10px;
}

.blue-btn:hover{
     border:1px solid #1c5675;
     background-color: #59A4CB;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
     background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
     background-image: -moz-linear-gradient(top, #26759e, #133d5b);
     background-image: -ms-linear-gradient(top, #26759e, #133d5b);
     background-image: -o-linear-gradient(top, #26759e, #133d5b);
     background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
    cursor: pointer;
}
a:hover{
    color:#59A4CB;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 1px;
    background: #eeeeee;
}
.post-nav div {
    cursor: pointer;
    background-color: #eeeeee;
    padding: 10px;
}
.post-nav{
    margin-top:60px;
}
.post-nav p {
    display: inline;
    align-items: center;
    padding: 10px;
}
.post-nav div:hover{
    background-color: #c1c1c1;
}
.post-nav p:hover {
    color:white;
}
#post-nav-active{
    background-color: grey;
    color:white;
}
#first:hover{
    cursor: default;
    background-color: #eeeeee;
}
#first p:hover{
    color:black;
}

/*sponsors*/
.sponsors{
    margin-bottom: 20px;
}
.sponsors h2{
    font-weight: 100;
    padding-left: 20px;
    color:black;
    margin-top: 80px;
    margin-bottom: 40px;
}
.sponsors img{
    max-width:100px;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    display: flex;
}
.img-border{
    position: relative;
    display: inline-block;
    width: 150px;
    height:100px;
    border: 6px solid #eeeeee;
    margin-left: 20px;
}
.img-border img {
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

/*footer*/
footer{
    background-color: #111213;
    padding: 20px;
    display: flex;
    position: relative;
}
.middle{
    text-align: center;
}
.middle h2{
    margin-left: -50px;
}
footer div{
    display: inline-block;
    width: 33%;
}
footer h2{
    font-weight: 100;
}
footer p{
    padding-top:20px;
    padding-bottom: 20px;
}
footer p{
    color:#3f3f3f;
}
footer p.sec{
    color:#a3a3a3;
}
footer .icons{
    display: block;
}
footer img:nth-child(2){
    padding-top:20px;
}

@media screen and (max-width: 1400px){
  nav {
    flex-flow: column wrap;
    padding: 0;
    margin: 20px;
    margin-left:-20px;
  }
    header{
        height:8em;
    }
    .controls{
        bottom: 0;
    }
    .back-bar {
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
    }
    blockquote {
        font-size: 2.5vw;
        width: 90%;
        align-self: flex-start;
        margin-top: 20px;
    }
    .icons img{
        width:200px;
    }
    footer{
    flex-flow: row wrap;
    }
    footer div{
    display: inline-block;
    width: inherit;
    padding: 20px;
}
    footer .icons {
        padding: 0;
    }
.middle{
    text-align: left;
}
.middle h2{
    margin-left: 0px;
}
}
@media screen and (max-width: 950px){
        header{
        height:11em;
    }
    aside{
        width: 100%;
    }
    article{
        width: 100%;
    }
    div.posts{
        width: 87%;
    }
    .post-nav div {
    padding: 5px;
    }
    .post-nav{
    margin-top:10px;
    }
    .post-nav p {
    padding: 5px;
    }
    /*.posts h2, .posts p{
        padding-left:0;
    }
    button{
        margin-left:0;
    }*/
}
@media screen and (max-width: 580px){
    header{
        height:15em;
    }
}


@media screen and (max-width: 480px){
    header{
        height:15em;
    }
    footer div{
        padding: 0;
        margin-bottom: 20px;
    }
    footer p{
        padding-bottom:0;
    }
    .hideme{
        display: none;
    }
}
@media screen and (max-width: 350px){
    header{
        height:16em;
    }
   h1 {
    font-size: 35px;
}
    .middle img{
        width: 200px;
    }
}
